# Dependencies
node_modules/

# Environment Variables
.env
.env.local
.env.production

# Build folders
dist/
.next/
build/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/

# Coverage
coverage/